<%
/**
 * @license
 * Copyright 2018 Oshidori LLC. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

'use strict';


/**
 * @name head
 * @memberOf o.melon.views.ejs.templates
 * @overview Component that implements head element.
 */
%>


<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="Description" content="<%= title %>">
<meta name="keywords" content="<%= om.webapp.name %>, <%= page %>">
<meta name="author" content="">

<title><%= om.webapp.name %> | <%= title %></title>

<!-- Web Application manifest -->
<link rel="manifest" href="/manifest.json">

<!-- Add to Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="<%= om.webapp.name %>">
<link rel="icon" sizes="192x192" href="/img/touch/chrome-touch-icon-192x192.png">

<!-- Add to Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="<%= om.webapp.name %>">
<link rel="apple-touch-icon" href="/img/touch/apple-touch-icon.png">

<!-- Tile icon for Windows -->
<meta name="msapplication-TileImage" content="/img/touch/ms-touch-icon-144x144-precomposed.png">
<meta name="msapplication-TileColor" content="#22f285">

<!-- Color the status bar on mobile devices -->
<meta name="theme-color" content="#22f285">

<!-- Favicon -->
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

<!-- Inject plugins from views/lib if development mode is enabled -->
<% if (om.devMode) { %>
<!-- Development -->

<!-- inject:css -->
<!-- endinject -->
<!-- inject:js -->
<!-- endinject -->

<% } else { %>
<!-- Production -->

<% } %>

<!-- Main styles and JavaScript -->
<link rel="stylesheet" href="/css/main<%= om.webapp.minify ? ".min" : "" %>.css">
<script type="text/javascript" async src='/js/main<%= om.webapp.minify ? ".min" : "" %>.js'></script>
